.top {
  font-family: "Josefin Sans", sans-serif;
  position: sticky;
  /*stay on one position* evn when scrolling*/
  height: 50px;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgb(232, 240, 238);
  z-index: 999;
}

.topLeft,
.topRight {
  display: flex;
  align-items: center;
  flex: 3;
  justify-content: center;
}

.topbarIcon {
  font-size: 20px;
  color: rgb(57, 59, 59);
  margin-right: 14px;
  cursor: pointer;
}

.topbarIcon:hover {
  color: rgb(175, 18, 18);
}

.topRight img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.topCenter {
  flex: 6;
}

.topLinks {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.toplinkList {
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
  color: #7e7979;
}

.toplinkList:hover {
  color: rgb(79, 31, 167);
}

.searchIcon {
  margin-left: 18px;
  font-size: 24px;
  color: #6d5454;
  cursor: pointer;

}
/* Responsive styles for smaller screens (e.g., tablets and smartphones) */
@media screen and (max-width: 768px) {
  /*.top {
    flex-direction: column;
    height: auto;
  }*/

  /*.topLeft,
  .topCenter,
  .topRight {
    flex: 1;
    justify-content: center;
    margin-bottom: 10px;
  }*/

  .topLinks {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10px;
  }

  .toplinkList {
    margin-right: 10px;
    font-size: 12px;;
  }
}

/* Further adjustments for very small screens (e.g., smartphones in portrait mode) */
@media screen and (max-width: 480px) {
 /* .top {
    padding: 10px;
  }

  .topbarIcon,
  .searchIcon {
    font-size: 18px;
    margin-right: 8px;
  }

  .topRight img {
    width: 35px;
    height: 35px;
  }*/

 .topLinks {
   flex-direction: column;
   align-items: center;
   padding: 5px;

 }

 .toplinkList {
   margin-top: 10px;
   font-size: 12px;
  
 }
}

/* Responsive styles for larger screens (e.g., desktops) */
@media screen and (min-width: 1024px) {
  .top {
    padding: 0 20px;
  }

  .topLeft,
  .topCenter,
  .topRight {
    flex: 1;
  }

  .sidelinks {
    width: 25%;
  }

  .sideitemTitle {
    font-size: 18px;
  }
}