.header {
    margin-top: 60px;
    text-align: center;
    
}

.titles {
    font-family: "Lora", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
    position: relative;
    padding: 0 20px;
}

.Title {
    font-size: 4rem;
    color: #837878;
}

.subtitle {
    font-size: 1.25rem;
    font-style: italic;
    word-spacing: 5px;
    color: rgb(12, 100, 24);
    font-weight: 500;
    margin-top: 10px
}

.header img {
    width: 100%;
    height: auto;
    max-height: 400px;
    margin-top: 30px;
    object-fit: cover;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .Title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1rem;
        word-spacing: 3px;
    }

    .header img {
        max-height: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .Title {
        font-size: 2.5rem;
        
    }

    .subtitle {
        font-size: 0.875rem;
        word-spacing: 1px;
       
    }

    .header img {
        max-height: 200px;
        margin-top: 10px;
        
    }
}