/*.aboutPage .sidelinks{
    flex: none;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
}*/
.sidelinks {
    flex: 3;
    margin: 20px;
    padding: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    width: 300px;
    background-color: rgb(245, 248, 247);
    
}

.sidelinks img {
    width: 100%;
    margin-top: 15px;
}

.sidelinks p {
    color: rgb(58, 57, 57);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Josefin Sans",
        sans-serif;
}

.sideItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sideitemTitle {
    font-family: "Varela Round", sans-serif;
    margin: 10px;
    padding: 5px;
    color: rgb(83, 77, 77);
    width: 80%;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid rgb(167, 153, 153);
    border-top: 1px solid rgb(167, 153, 153);
}

.sideList {
    margin-bottom: 20px;
    list-style: none;
}

.sidelistItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    color: rgb(77, 74, 74);
    cursor: pointer;
}

.sidelistItem:hover {
    color: rgb(221, 9, 9);
}

.sideSocials {
    margin-top: 15px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;
}

.sidelistIcon {
    margin: 15px;
    font-size: 20px;
}

.sidelistIcon:hover {
    color: rgb(185, 17, 17);
}

/* Center and show sidelinks on small screens */
@media screen and (max-width: 768px) {
    .sidelinks {
        display: flex;
        /* Show sidelinks on small screens */
        margin: 0 auto;
        /* Center the sidelinks horizontally */
        width: 100%;
        /* Make the sidelinks take full width */
    }

    .sidelinks img {
        max-width: 100%;
        height: auto;
    }

    .sideItem {
        align-items: center;
        text-align: center;
    }
}