.login{
    background: url("https://images.pexels.com/photos/19797271/pexels-photo-19797271/free-photo-of-pink-and-peach-stationery.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}
.loginTitle{
    font-size: 50px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.loginForm label{
    margin: 10px 0;
}
.loginInput{
    background-color: white;
    padding: 10px;
    border: none;
}
.loginBtn{
   background-color: rgb(42, 42, 207);
   margin-top: 20px;
   border: none;
   cursor: pointer;
   color: aliceblue;
   border-radius: 10px;
   padding: 10px;
   font-size: 16px;
}
.loginBtn:hover{
    background-color: rgb(136, 133, 133);
    color: rgb(31, 30, 30);
}
p {
    color: rgb(247, 41, 41);
    font-style: italic;
    font-weight: 600;
    margin-top: 15px;
}
.registerBtn{
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5px;
}
.registerBtn:hover{
    background-color: rgb(136, 133, 133);
    color: rgb(31, 30, 30);
}